body {
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-name: fadeIn;
}

.top,
.bottom {
    z-index: 100;
    text-shadow: 0 0 50px #000;
    position: absolute;
    padding: 1rem;
    box-sizing: border-box;
}

.bottom {
    bottom: 0;
}

.right {
    text-align: right;
    right: 0;
}

.left {
    left: 0;
}

#time {
    font-size: 12rem;
    margin-top: -2rem;
    margin-bottom: -3rem;
}

#date {
    font-size: 6rem;
}

.bottom.right {
    font-size: 4rem;
}